# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key
.env
.env.*
/bootstrap/cache/*.php

# Composer & NPM
composer.lock
package-lock.json

# Nova (Licensed)
nova
/vendor/laravel/nova

# IDE files
.idea
.vscode
*.log
*.DS_Store

# Build files
/public/js/*.map
/public/css/*.map
